/*
  main colors:
    - blue : #0ca9e3;
    - lighter blue: #5bc3fa;
    - gray: #f2f2f2;//0.96, 0.96, 0.96, 0.3


  status color:s
    - valid/green: #88d128
    - invalid/orange: #ff6600


   alternative shheme:
   - primary : #607D8B;
   - secondary: red-ish : #E91E63;
*/
html, body {
    overflow: hidden;
}

#app{
  /* width: 100%; */
  height: 100%;
  position: absolute;
  margin: 0;
  border: 0;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  overflow: hidden;
  font-size: 0.5em;
  font-family: 'Open Sans', sans-serif;

  --valid-color: #88D128;
  --invalid-color: #ff6600;
  --focus-color: #0ca9e3;

  --background-dark: #333333;/*#5e606f;*//*#5e606f;#1f1f1f*/
  --text-color-dark: #fdfdfd;
  --highlight-color-dark: white;/*#f5f0f0;*/

  --background-light: #ffffff;/*#5e606f;#1f1f1f*/
  --text-color-light: #717171;
  --highlight-color-light: #5e606f;/*#f5f0f0;*/


  --primary-text-color: var(--text-color-light);
  --primary-background-color: var(--background-light);
  --primary-semiactive-color: var(--highlight-color-light);
  --primary-hover-color: var(--highlight-color-light);
  --primary-border-color: var(--highlight-color-light);

  /* if primary is dark, use light here & vice /versa*/
  --secondary-text-color: var(--text-color-dark);
  --secondary-background-color: var(--background-dark);
  --secondary-semiactive-color: var(--highlight-color-dark);
  --secondary-hover-color: var(--highlight-color-dark);
  --secondary-border-color: var(--highlight-color-dark);

  --highlightColor: #60c4f8;
  background: var(--background-light);/*#F5F5F5;*//*rgba(244.6, 244.6, 244.6, 255);*/
}

h1{
  font-size: 1em;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 5px;
  border: none;
}

button:focus {
  outline: none
}

.valid{
  background: #88d128;
  color: white;
}

.invalid{
  background: #ff6600;
  color: white;
}

#wrapper{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  display: flex;
}

/*print settings*/
.settings .printSettings{
  border: 0.1px #dddddd solid;
  /* border-right: none; */
  padding: 10px;
  background: var(--primary-background-color);
  margin-right: 10px;
  color: var(--primary-text-color);
  position: absolute;
  top: 40px;
  right: 0px;

  /*box-shadow: 4px 4px 16px rgba(165, 162, 162, 0.19);*/

}

.settings .printSettings:hover{

}

/*.printSettings::after {
  box-shadow: 10px 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.printSettings:hover::after {
  box-shadow: 10px 5px 15px rgba(0,0,0,0.3);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}*/



.settings .printSettings button{
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 2px 2px;
  border: none;
}

.settings .printSettings .selected button{
  background: #0ca9e3;
}

.settings .printSettings .tooltipWrapper{
  position: relative;
  display: inline-block;
}
.settings .printSettings .tooltip{
  display: block;
  width: 200px;
}

.settings .printSettings h1{
  font-size: 1em;
  padding: 0px;
  margin: 10px;
  margin-left: 0px;
}

.settings .printSettings .checkbox{
  margin-left: 20px;
}

.printSettings .checkbox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 3px solid var(--primary-text-color);
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.settings .printSettings .SetQualityPreset{
  font-size: 90%;
}

.settings .printSettings .SetQualityPreset h2{
  margin: 0px;
}

.profile button {
  background: #f2f2f2;
}

.layerHeights ul{
  list-style: none;
  display: flex;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  width: 100%;
  padding-left: 0;
}

.layerHeights li {
  flex: 1;
  /*list-style: none;
  display: inline-block;
  flex-basis: 100%;
  height: 64px;

  padding: 5px 5px;*/
  margin-left: 10px;
  border : 1px solid black;
  text-align: center;
}

.layerHeights li:hover {
  color: red;
}

.layerHeights button{
  /*width:64px;
  height:64px;*/
  width:100%;
}



section .info{
  min-height: 30px;
  padding: 10px;
  background: #0ca9e3;
  color: white;
  text-align: justify;;
  font-weight: bold;
  font-size: 1.0em;
}



div:disabled{
  color:red;
  background: #ccc;
  pointer-events:none;
}

div.disabled{
  color: #afafaf;
  /* background: #e8e8e8; */
  pointer-events: none;
}

.disabled{
  color: #afafaf;
  /* background: #e8e8e8; */
  pointer-events: none;
}


/*materialSetup*/
.materialSetup{
}

.materialSetup header{
  min-height: 30px;
  padding: 10px;
}

.materialSetup .coresAndMaterial ul{
  list-style: none;
  padding: 0;
}
.materialSetup .coresAndMaterial li{
  background: white;
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
}

/*viewer*/
#viewer{
  width: 80%;
  min-height: 400px;
  flex-grow: 0;
  display:inline-block;
  position: relative;
  left:0px;
  top:0px;
  margin: 0px;
}
#viewer canvas{
  position: relative;
  width: 100%;
  height: 100%;
}

#settings{
  width: 0%;
  min-height: 400px;
  flex-grow: 0;
  display:inline-block;
}

.temp{
  border: 1px solid var(--secondary-border-color);
  position: absolute;
  width: 200px;
}

.startPrint{
  bottom: 10px;
  right: 0px;
  text-transform: capitalize;
}

#printerPicker{
  position: absolute;
  width: 100%;
}
/* monitor*/
.printerCameraFrame{
  width:100%;
  height:100%;
}

/*entity infos */
#entityInfos{
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: var(--primary-background-color);
}

#entityInfos button{
  margin: 0;
  padding: 0;
  border: 0;
  background: rgba(0, 0, 0, 0);
}
#entityInfos button path{
  fill: var(--primary-semiactive-color);
}
#entityInfos .toolTipButtonContainer{
  padding: 10px;
  position: relative;
}
#entityInfos svg{
  width: 24px;
}
#entityInfos .menu-right.arrowOffset {
    top: 0%;
    bottom: auto;
    left: 170%;
}

/* FIXME !!!! after this point, just copies of specific css files, need to be remobed from here*/

/*button path{fill:#555555!important;}*/
button:focus {outline:0;}
/*button:focus path{fill:white!important;}
button:focus {background:#555555; outline:0;}*/

button {
  /*margin: 0 10px 0 0;*/
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  background: #F5F5F5;
  padding: 0;

  cursor: pointer;
}

button:hover:enabled{
  background: var(--highlightColor); /*#555555;*/
}

button:enabled:hover path{
  fill: var(--primary-hover-color);
  stroke: var(--primary-hover-color);
}

button:enabled:hover svg *{
  fill:var(--primary-hover-color);
}

button[disabled=disabled], button:disabled{
  /*background: rgba(0, 0, 0, 0);*/
  color: #c7c7c7;
  font-style: italic;
}

button[disabled=disabled], button:disabled svg *{
  fill:none;
  stroke: none;
}

button[disabled=disabled]:hover, button:disabled:hover{
  stroke: none;
  fill:none;
}

button[disabled=disabled], button:disabled path{
  fill:#868686!important;
}


svg {
  width: 24px;
}


.printersList{
  list-style: none;
  width: 200px;
  min-height: 40px;
  /*min-width: 400px;*/
  margin-left: 0px;
  padding-left: 0px;

  border-collapse: separate;
  border-spacing: 0px 5px;
  text-align: center;
  text-transform: uppercase;
}

.printersList button{
  background: none;
  /*padding: 1px 5px 0px 5px;*/
  width: 100%;
  height: 100%;
}

.printersList .selected{
  background: #0ca9e3;
}

.printersList .claimer{
  cursor: pointer;
}

.printersList .claimed{
  background: #88d128;
  /*make it more light*/
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}


.printersList li {
  margin: 10px;
  padding: 0px 10px 0px 10px;
}

.printersList svg{
  width: 16px;
  height: 16px;
}

.printersList tr{
  background: #03A9F4;/*#E91E63;*/
  color: white;
  fill: white;
  height: 32px;

  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

.printersList tr:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.0);
}

.printersList tr:hover td{
  /*background: var(--highlightColor);*/
}

.gnok{
  width: 100%;
display: block;
height: 100%;
position: relative;
overflow: auto;
}

.gnok:after{
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
      -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
         transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

  content: "";
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.0);
  position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: -1;
}
.gnok:hover:after{
  background: red;
}


.printersList td {
  padding: 5px;
}

.printersList td:nth-child(1) {
  background: #607D8B;
  color: white;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

.printersList tr:hover td:nth-child(1) {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.0);
}

.printersList td:nth-child(3) {
  padding: 0px;
  padding-left: 5px;
}

.printersList tr:hover .claimed{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.0);
}


.printersMenu{
  position: absolute;
  right: 0px;
  top: 10px;
}
.printersMenu .menuToggler{
  /*position: absolute;;
  bottom:40px;
  right: 0px;*/
  width: 200px;
  padding: 2px 5px 2px 5px;
}

.printersMenu .menuToggler{

}
.printersMenu .menu-bottom{
  right:10px;
}


.MonitorPrint{
  position: absolute;
  top: 40px;
  right: 10px;
  width: 250px;
  background: white;
  padding-top: 10px;
      border: 0.1px #dddddd solid;
}

.MonitorPrint .progressPercent{
  text-align: center;
}

.MonitorPrint .printStatus{
  text-align: center;
  text-transform: uppercase;
}

.MonitorPrint .timeLeft{
  text-align: center;
}

.MonitorPrint .temperatures{
  list-style: none;
  display: flex;
}

.MonitorPrint .temperatures li{
  text-align: center;
  padding: 5px;
}

.MonitorPrint .controls {
  list-style: none;
  display: flex;
}

.MonitorPrint .controls li{
  text-align: center;
  padding: 5px;
}

.MonitorPrint .controls li button{
  padding: 2px;
  width: 80px;
}


/*
.tooltip{
  background: red!important;
}
.tooltip::after{
  background: red!important;
}*/

/*-----------------*/
/*text-overflow: clip;
    text-indent: 10px;*/
