/*
  main colors:
    - blue : #0ca9e3;
    - gray: #f2f2f2;

  status color:s
    - valid/green: #88d128
    - invalid/orange: #ff6600

*/
html, body {
    overflow: hidden;
}

#app{
  background: #f2f2f2;
  /* width: 100%; */
  height: 100%;
  position: absolute;
  margin: 0;
  border: 0;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  overflow: hidden;
  font-size: 0.8em;
}

h1{
  font-size: 1em;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 5px;
  border: none;
}

button:focus {
  outline: none
}



.valid{
  background: #88d128;
  color: white;
}

.invalid{
  background: #ff6600;
  color: white;
}

#wrapper{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  display: flex;
}

/*print settings*/
.printSettings{

}

.printSettings .selected button{
  background: #0ca9e3;
}

section .info{
  min-height: 30px;
  padding: 10px;
  background: #0ca9e3;
  color: white;
  text-align: justify;;
  font-weight: bold;
  font-size: 1.0em;
}

.profile button {
  background: #f2f2f2;
}

.profile button:hover{
  background: #0ca9e3;
}

.layerHeights ul{
  list-style: none;
  display: flex;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  width: 100%;
  padding-left: 0;
}

.layerHeights li {
  flex: 1;
  /*list-style: none;
  display: inline-block;
  flex-basis: 100%;
  height: 64px;

  padding: 5px 5px;*/
  margin-left: 10px;
  border : 1px solid black;
  text-align: center;
}

.layerHeights li:hover {
  color: red;
}

.layerHeights button{
  /*width:64px;
  height:64px;*/
  width:100%;
}

div:disabled{
  color:red;
  background: #ccc;
  pointer-events:none;
}

div.disabled{
  color: #afafaf;
  /* background: #e8e8e8; */
  pointer-events: none;
}

.disabled{
  color: #afafaf;
  /* background: #e8e8e8; */
  pointer-events: none;
}


/*materialSetup*/
.materialSetup{
}

.materialSetup header{
  min-height: 30px;
  padding: 10px;
}

.materialSetup .coresAndMaterial ul{
  list-style: none;
  padding: 0;
}
.materialSetup .coresAndMaterial li{
  background: white;
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
}

/*viewer*/
#viewer{
  width: 80%;
  min-height: 400px;
  flex-grow: 0;
  display:inline-block;
  position: relative;
  left:0px;
  top:0px;
  margin: 10px;
}
#viewer canvas{
  position: relative;
  width: 100%;
  height: 100%;
}

#settings{
  width: 50%;
  min-height: 400px;
  flex-grow: 0;
  display:inline-block;
  margin: 10px;
}

#printerPicker{
  position: absolute;
  width: 100%;
}

.printersList{
  list-style: none;
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
}
.printersList .selected{
  background: #0ca9e3;
}

.printersList .claimed{
  background: #88d128;
}

.printersList li {
  margin: 10px;
  padding: 0px 10px 0px 10px;
}

/* monitor*/
.printerCameraFrame{
  width:100%;
  height:100%;
}

/*entity infos */
#entityInfos{
  position: absolute;
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #0ca9e3;
}

#entityInfos button{
  margin: 0;
  padding: 0;
  border: 0;
  background: rgba(0, 0, 0, 0);
}
#entityInfos button path{
  fill: #f5f0f0;
}
#entityInfos .toolTipButtonContainer{
  padding: 10px;
  padding-left: 4px;
}
#entityInfos svg{
  width: 24px;
}
#entityInfos .menu-right.arrowOffset {
    top: 0%;
    bottom: auto;
    left: 170%;
}

/* FIXME !!!! after this point, just copies of specific css files, need to be remobed from here*/

/*button path{fill:#555555!important;}*/
button:focus {outline:0;}
/*button:focus path{fill:white!important;}
button:focus {background:#555555; outline:0;}*/

button {
  /*margin: 0 10px 0 0;*/
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  background: #F5F5F5;
  padding: 0;

  cursor: pointer;
}

button:hover:enabled{
  background: #5bc3fa;/*#555555;*/
}

button:enabled:hover path{
  fill:white !important;
  stroke: white ! important;
}

button:enabled:hover svg *{
  fill:white;
}

button[disabled=disabled], button:disabled{
  background: rgba(0, 0, 0, 0);
}

button[disabled=disabled], button:disabled svg *{
  fill:none;
  stroke: none;
}

button[disabled=disabled]:hover, button:disabled:hover{
  stroke: none;
  fill:none;
}

button[disabled=disabled], button:disabled path{
  fill:#666868!important;
}



/*-----------------*/
