/*
  main colors:
    - blue : #0ca9e3;
    - gray: #f2f2f2;//0.96, 0.96, 0.96, 0.3

  status color:s
    - valid/green: #88d128
    - invalid/orange: #ff6600

*/
html, body {
    overflow: hidden;
}

#app{
  background: #F5F5F5;/*rgba(244.6, 244.6, 244.6, 255);*/
  /* width: 100%; */
  height: 100%;
  position: absolute;
  margin: 0;
  border: 0;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  overflow: hidden;
  font-size: 0.6em;
  font-family: 'Open Sans', sans-serif;

  --valid-color: #88D128;
  --invalid-color:#ff6600;
  --focus-color:#0ca9e3;
  --background-dark: #5e606f;/*#5e606f;#1f1f1f*/
  --text-color-light: #fdfdfd;
  --text-color-dark: #717171;
}

h1{
  font-size: 1em;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 5px;
  border: none;
}

button:focus {
  outline: none
}



.valid{
  background: #88d128;
  color: white;
}

.invalid{
  background: #ff6600;
  color: white;
}

#wrapper{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  display: flex;
}

/*print settings*/
.settings .printSettings{
  border: 0.1px rgb(189, 189, 189) solid;
  /* border-right: none; */
  padding: 10px;
  background: var(--background-dark);
  margin-right: 10px;
  color: var(--text-color-light);
}


.settings .printSettings button{
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 2px 2px;
  border: none;
}

.settings .printSettings .selected button{
  background: #0ca9e3;
}

.settings .printSettings .tooltipWrapper{
  position: relative;
  display: inline-block;
}
.settings .printSettings .tooltip{
  display: block;
  width: 200px;
}

.settings .printSettings h1{
  font-size: 1em;
  padding: 0px;
  margin: 10px;
  margin-left: 0px;
}

.settings .printSettings .checkbox{
  margin-left: 20px;
}

.printSettings .checkbox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 3px solid var(--text-color-light);
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.settings .printSettings .SetQualityPreset{
  font-size: 90%;
}

.settings .printSettings .SetQualityPreset h2{
  margin: 0px;
}

.profile button {
  background: #f2f2f2;
}

.profile button:hover{
  background: #0ca9e3;
}

.layerHeights ul{
  list-style: none;
  display: flex;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  width: 100%;
  padding-left: 0;
}

.layerHeights li {
  flex: 1;
  /*list-style: none;
  display: inline-block;
  flex-basis: 100%;
  height: 64px;

  padding: 5px 5px;*/
  margin-left: 10px;
  border : 1px solid black;
  text-align: center;
}

.layerHeights li:hover {
  color: red;
}

.layerHeights button{
  /*width:64px;
  height:64px;*/
  width:100%;
}



section .info{
  min-height: 30px;
  padding: 10px;
  background: #0ca9e3;
  color: white;
  text-align: justify;;
  font-weight: bold;
  font-size: 1.0em;
}



div:disabled{
  color:red;
  background: #ccc;
  pointer-events:none;
}

div.disabled{
  color: #afafaf;
  /* background: #e8e8e8; */
  pointer-events: none;
}

.disabled{
  color: #afafaf;
  /* background: #e8e8e8; */
  pointer-events: none;
}


/*materialSetup*/
.materialSetup{
}

.materialSetup header{
  min-height: 30px;
  padding: 10px;
}

.materialSetup .coresAndMaterial ul{
  list-style: none;
  padding: 0;
}
.materialSetup .coresAndMaterial li{
  background: white;
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
}

/*viewer*/
#viewer{
  width: 80%;
  min-height: 400px;
  flex-grow: 0;
  display:inline-block;
  position: relative;
  left:0px;
  top:0px;
  margin: 0px;
}
#viewer canvas{
  position: relative;
  width: 100%;
  height: 100%;
}

#settings{
  width: 25%;
  min-height: 400px;
  flex-grow: 0;
  display:inline-block;
}

.settings button{
  /*border: 1px solid black;
position: absolute;
right: 10px;
padding: 2px;
  width: 200px;*/
}

#printerPicker{
  position: absolute;
  width: 100%;
}

.printersList{
  list-style: none;
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
}
.printersList .selected{
  background: #0ca9e3;
}

.printersList .claimed{
  background: #88d128;
}

.printersList li {
  margin: 10px;
  padding: 0px 10px 0px 10px;
}

/* monitor*/
.printerCameraFrame{
  width:100%;
  height:100%;
}

/*entity infos */
#entityInfos{
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: var(--background-dark);
}

#entityInfos button{
  margin: 0;
  padding: 0;
  border: 0;
  background: rgba(0, 0, 0, 0);
}
#entityInfos button path{
  fill: #f5f0f0;
}
#entityInfos .toolTipButtonContainer{
  padding: 10px;
  position: relative;
}
#entityInfos svg{
  width: 24px;
}
#entityInfos .menu-right.arrowOffset {
    top: 0%;
    bottom: auto;
    left: 170%;
}

/* FIXME !!!! after this point, just copies of specific css files, need to be remobed from here*/

/*button path{fill:#555555!important;}*/
button:focus {outline:0;}
/*button:focus path{fill:white!important;}
button:focus {background:#555555; outline:0;}*/

button {
  /*margin: 0 10px 0 0;*/
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  background: #F5F5F5;
  padding: 0;

  cursor: pointer;
}

button:hover:enabled{
  background: #5bc3fa;/*#555555;*/
}

button:enabled:hover path{
  fill:white !important;
  stroke: white ! important;
}

button:enabled:hover svg *{
  fill:white;
}

button[disabled=disabled], button:disabled{
  background: rgba(0, 0, 0, 0);
}

button[disabled=disabled], button:disabled svg *{
  fill:none;
  stroke: none;
}

button[disabled=disabled]:hover, button:disabled:hover{
  stroke: none;
  fill:none;
}

button[disabled=disabled], button:disabled path{
  fill:#868686!important;
}


svg {
  width: 24px;
}

.printersMenu{
  position: relative;
}


/*
.tooltip{
  background: red!important;
}
.tooltip::after{
  background: red!important;
}*/

/*-----------------*/
/*text-overflow: clip;
    text-indent: 10px;*/
